{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
        <div id="cont3">
            <h2>
                {{post.title}}
            </h2>

            <a href="{% url 'post_detail' pk=post.pk %}">
                <button class="btn btn-secondary">Leer</button>
            </a>

            <!-- <div id="cont4">
                <p>
                    {{ post.text }}
                </p>
            </div>
            {{ post.create_date }}
            -->
        </div>
    {% endfor %}
{% endblock %}


